.rowHeaderCell {
  border: 2px solid black;
  background-color: white;
  width: 200px;
  text-align: center;
}

.defaultDataCell {
  border: 2px solid black;
  width: 150px;
  text-align: center;
  background-color: white;
}

.minValueCell {
  background-color: dodgerblue;
  color: white;
}
